<h1>アンケート</h1>
<br>
<p></p>
<%= form_for @questionnaire do |f| %>
<%= render "shared/error_messages", object: @questionnaire %>
  <p>問１ あなたの学年を教えてください<span class="red">*</span></p>
  <%= f.select :school_year, Questionnaire.school_years.keys.to_a, {} %><br><hr>

  <p>問２ あなたの大学名を教えてください</p>
  <%= f.text_field :university_name, placeholder: "△△大学", class: "form-control" %>
  <hr>

  <p>問3 就活を意識して何か取り組んでいますか？</p>
  <%# Todo: ラジオボタン二度押しで選択解除 %>
  <!-- Todo:チェックをつけてIDパスを実装 -->
  <!-- <a href="#question_4" class="question_4c"><%#= f.radio_button :conscious_working, "はい" %></a> -->
  <%= f.radio_button :conscious_working, "はい", class: "question_4c" %>
  <%= f.label :conscious_working, value: "はい" %>
  <%= f.radio_button :conscious_working, "いいえ", class: "question_5c" %>
  <%= f.label :conscious_working, value: "いいえ" %>
  <br><br>
  <p>はいの人⏩<a class="question_4c">次へ</a></p>
  <p>いいえの人⏩<a class="question_6c">問6へ</a></p>
  <br>
  <hr>

  <p id="question_4">問4 <span class="red">問3が"はい"の人のみ</span></p>
  <p>具体的にどのようなことをしていますか？(複数選択可)</p>
  <%= f.check_box :search_site, {}, "true", "false" %>
  <%= f.label :search_site, "就活サイト等で企業調べをしている" %><br>

  <%= f.check_box :analysis_myself, {}, "true", "false" %>
  <%= f.label :analysis_myself, "自己分析している" %><br>

  <%= f.check_box :practice_interview, {}, "true", "false" %>
  <%= f.label :practice_interview, "面接対策をしている" %><br>

  <%= f.check_box :practice_es, {}, "true", "false" %>
  <%= f.label :practice_es, "ES対策をしている" %><br>

  <%= f.check_box :join_internship, {}, "true", "false" %>
  <%= f.label :join_internship, "インターンに参加している" %><br>

  <%= f.check_box :attend_job_fair, {}, "true", "false" %>
  <%= f.label :attend_job_fair, "説明会に参加している" %><br>

  <%= f.check_box :interview_company, {}, "true", "false" %>
  <%= f.label :interview_company, "企業と面談している" %><br>

  <%= f.check_box :selection_by_company, {}, "true", "false" %>
  <%= f.label :selection_by_company, "選考面接を既に受けた" %><br>

  <%= f.check_box :other, {}, "true", "false" %>
  <%= f.label :other, "その他" %><br>
  <br><br>
  <p><a class="question_8c">問8へ</a></p>
  <hr>

  <p id="question_5">問5 <span class="red">問3が"いいえ"の人のみ</span></p>
  <p>これから就活に取り組もうとしていますか？<span class="red">*</span></p>
  <%= f.radio_button :from_now, "はい", class: "question_6c" %>
  <%= f.label :from_now, value: "はい" %>
  <%= f.radio_button :from_now, "いいえ", class: "question_7c" %>
  <%= f.label :from_now, value: "いいえ" %>
  <br><br>
  <!-- Todo:リンク実装 -->
  <p>はいの人⏩<a class="question_6c">次へ</a></p>
  <p>いいえの人⏩<a class="question_7c">問7へ</a></p>
  <br>
  <hr>

  <p id="question_6">問6 <span class="red">問5が"はい"の人のみ</span></p>
  <p>どのようなことに取り組もうとしていますか？(複数選択可)</p>
  <%= f.check_box :search_site_no, {}, "true", "false" %>
  <%= f.label :search_site_no, "就活サイト等で企業調べをしている" %><br>

  <%= f.check_box :analysis_myself_no, {}, "true", "false" %>
  <%= f.label :analysis_myself_no, "自己分析をしている" %><br>

  <%= f.check_box :practice_interview_no, {}, "true", "false" %>
  <%= f.label :practice_interview_no, "面接対策をしている" %><br>

  <%= f.check_box :practice_es_no, {}, "true", "false" %>
  <%= f.label :practice_es_no, "ES対策をしている" %><br>

  <%= f.check_box :join_internship_no, {}, "true", "false" %>
  <%= f.label :join_internship_no, "インターンに参加している" %><br>

  <%= f.check_box :attend_job_fair_no, {}, "true", "false" %>
  <%= f.label :attend_job_fair_no, "説明会に参加している" %><br>

  <%= f.check_box :other_no, {}, "true", "false" %>
  <%= f.label :other_no, "その他" %><br>
  <br><br>
  <!-- Todo:リンク実装 -->
  <p><a class="question_8c">問8へ</a></p>
  <hr>


  <p id="question_7">問7 <span class="red">問5が"いいえ"の人のみ</span></p>
  <p>いつ頃から就活に取り組むつもりですか？</p>
  <%== sprintf(
  f.date_select(:when_to_start, use_month_numbers: true, discard_day: true,
  start_year: Time.now.year, end_year: Time.now.year + 1, default: Time.now.to_date), '年','月') + '月ごろ' %><br><br>

  <%= f.check_box :nothing_schedule, {}, "true", "false" %>
  <%= f.label :nothing_schedule, "就活する予定はない" %>
  <br><br>
  <!-- Todo:リンク実装 -->
  <p><a class="question_8c">次へ</a></p>
  <hr>


  <p id="question_8">問８ 就活に対して不安がありますか？<span class="red">*</span></p>
  <%= f.radio_button :anxiety, "はい", class: "question_9c" %>
  <%= f.label :anxiety, value: "はい" %>
  <%= f.radio_button :anxiety, "いいえ", class: "question_10c" %>
  <%= f.label :anxiety, value: "いいえ" %>
  <br>
  <hr>


  <p id="question_9">問９ <span class="red">問8が"はい"の人だけお答えください</span></p>
  <p>どのような不安がありますか？(複数選択可)</p>

  <%= f.check_box :how_to_do, {}, "true", "false" %>
  <%= f.label :how_to_do, "就活のやり方がわからない" %><br>

  <%= f.check_box :start, {}, "true", "false" %>
  <%= f.label :start, "開始時期がわからない" %><br>

  <%= f.check_box :prepare, {}, "true", "false" %>
  <%= f.label :prepare, "事前準備がわからない" %><br>

  <%= f.check_box :job_offer, {}, "true", "false" %>
  <%= f.label :job_offer, "内定をもらえるのか不安" %><br>

  <%= f.check_box :nothing_to_do, {}, "true", "false" %>
  <%= f.label :nothing_to_do, "自分のやりたいことがない" %><br>

  <%= f.check_box :decision, {}, "true", "false" %>
  <%= f.label :decision, "就職先を何で決めるべきかわからない" %><br>

  <%= f.check_box :talk_interview, {}, "true", "false" %>
  <%= f.label :talk_interview, "面接で何を話せばいいかわからない" %><br>

  <%= f.check_box :write_es, {}, "true", "false" %>
  <%= f.label :write_es, "ESの書き方がわからない" %><br>

  <%= f.check_box :just_because, {}, "true", "false" %>
  <%= f.label :just_because, "漠然と不安だ" %><br>

  <%= f.check_box :less_info, {}, "true", "false" %>
  <%= f.label :less_info, "情報が少ない" %><br>

  <%= f.check_box :continue_to_work, {}, "true", "false" %>
  <%= f.label :continue_to_work, "内定先が決まってもそこで働き続けられるかわからない" %><br>

  <%= f.check_box :unknown_myself, {}, "true", "false" %>
  <%= f.label :unknown_myself, "自己分析ができない" %><br>

  <br>
  <%# Todo:その他jQuery実装 %>
  <%= f.check_box :other_anxiety, {}, "true", "false" %>
  <%= f.label :other_anxiety, "その他" %>
    <p>その他を選んだ人にお聞きします</p>
    <%= f.label :description_internship, "インターンに参加した具体的なエピソード" %>
    <%= f.text_area :description_internship, placeholder: "私は○○で△△な経験を積みました", class: "form-control" %>
    <br>
    <%= f.label :consultation, "相談相手" %>
    <%= f.text_field :consultation, placeholder: "友人、教授、親等", class: "form-control" %>
  <br><br>
  <!-- Todo:リンク実装 -->
  <p><a class="question_11c">問11へ</a></p>
  <hr>

  <p id="question_10">問10 <span class="red">問8が"いいえ"の人のみ</span></p>
  <p>なぜ不安がないのですか？(複数選択可)</p>

  <%= f.check_box :nothing_anxiety, {}, "true", "false" %>
  <%= f.label :nothing_anxiety, "もともと不安がない" %><br>

  <%= f.check_box :all_right, {}, "true", "false" %>
  <%= f.label :all_right, "周りの状況を聞く限り不安に思わない" %><br>

  <%= f.check_box :join_internship_reason, {}, "true", "false" %>
  <%= f.label :join_internship_reason, "インターンなどに参加したから" %><br>

  <%= f.check_box :other_no_anxiety, {}, "true", "false" %>
  <%= f.label :other_no_anxiety, "その他" %>
  <br><hr>


  <p id="question_11">問11 就活において最も重要視するのはどれですか？</p>
  <%= f.select :most_select_reason, Questionnaire.most_select_reasons.keys.to_a, {} %>

<br><hr>
<%= f.submit "送信する", class: "btn btn-primary" %>
<% end %>
<br><br>
