<!DOCTYPE html>
<html>
  <head>
    <title>就活アンケート</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- 端末のサイズに応じて画面を描写 -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="container main-page">
      <%# Todo: InvalidAuthenticityToken解決 %>
      <br>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
